<template name="dashboard">
<div id="content-area">
  <div class="container" id="dashboard-container">
    <div class="row">
      <div class="col-md-3">
        <div class="side-area">
          <div class="row">

            <div class="col-md-12 col-sm-4 col-xs-12">
              <div class="profile-placeholder clearfix">

                <div class="profile-imgholder">
                  <img src="">
                </div>

                <div class="hidden-xs">
                  <h6>Hey <a href="/my-profile">{{ userFirstName }}</a>!</h6>
                </div>

              </div>
            </div>

            <div class="side-nav col-md-12 col-sm-8 col-xs-12">
              <div class="hidden-xs hidden-sm">
                <div class="complete-profile-space">
                  <h1>Side Menu</h1>
                </div>
              </div>

              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                  <ul>
                    <li><a href="/edit-profile">My Profile</a></li>
                    <!-- <li><a href="/dashboard">Dashboard</a></li> -->
                    <li><a href="/inbox" class="inbox-link">Inbox</a></li>
                    {{ #if isTutor }}
                      <li><a href="#">Find Jobs</a></li>
                      <li><a href="/tutor-account">Account</a></li>
                      <li><a href="#">My Subjects</a></li>
                    {{ else }}
                      <li><a href="/tutors-list">Find Tutors</a></li>
                      <li><a href="/student-account">Account</a></li>
                    {{ /if }}

                    <li><a href="#">My Reviews</a></li>
                  </ul>
              </div>

              <div class="navbar-collapse collapse sidebar-navbar-collapse" id="side-nav">
              </div>


            </div>

          </div>
        </div>
      </div>

      <div class="col-md-9 right-area">
        {{ >yield region="aside"}}
      </div>

    </div>
  </div>
</div>

</template>
