<template name="editProfile">
  <h1>Edit Profile</h1>
  <form class="form-group">
    <label>First Name:</label>
    <input type="text" name="firstName" class="form-control" value="{{ userFirstName }}">
    <label>Last Name:</label>
    <input type="text" name="lastName" class="form-control" value="{{ userlastName }}">
    <!-- <label>Where Do You Live?</label>
    <input type="text" name="text" class="form-control"> -->
    <label>Tell us more about yourself...</label>
    <input type="text" name="bio" class="form-control" value="{{ userBio }}">
    <label>Profile Picture: </label>
    <div class="fileupload fileupload-exists" data-provides="fileupload"></div>
    <input type="submit" value="Save Changes" class="">
  </form>
</template>
