<template name="index">
  <section class="one-index">
    <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 home-text-box">
        <h1 class="home-text">
          <span class="home-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
          <span class="home-subtext">ESed ut perspiciatis unde omnis iste natus error</span>
          <a class="btn btn-default" id="how-it-works-button" href="/how-it-works" role="button">How It Works</a>
        </h1>
      </div>
    </div>
    </div>
  </section>

  <section class="two-index">
    <div class="container" id="container">
      <div class="row">
        <h1 class="index-section-two-header">An Easy Way To Find The Perfect Tutor</h1>
      </div>

      <div class="row" id="row-two">
        <div class="col-sm-4">
          <div class="text-center">
            <img data-src="" class="img-responsive step-image lazy-loaded" src=""/>
            <h4>Search through talented tutors.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-center">
            <img data-src="" class="img-responsive step-image lazy-loaded" src=""/>
            <h4>Search through talented tutors.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-center">
            <img data-src="" class="img-responsive step-image lazy-loaded" src=""/>
            <h4>Search through talented tutors.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
        </div>
      </div>

      <div class="row">
        <a class="btn btn-default" id="find-a-tutor-button" href="#" role="button">Find a Tutor</a>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <section class="three-index">
        <h1 style="text-align: center">Top Tutors in your Area!</h1>
      </section>
    </div>
  </div>

</template>
