<template name="mySubjects">

  <h1>My Subjects</h1>

  <form class="form-inline">
    <input type="text" name="subjectName" class="form-control" placeholder="Enter your subject name...">
    <input type="text" name="subjectLevel" class="form-control" placeholder="Enter your subject level...">
    <input type="text" name="subjectPrice" class="form-control" placeholder="Enter your subject price...">
    <input type="submit" value="Save" class="btn btn-default" placeholder="Enter your subject">
  </form>

  <!-- <select>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
  </select> -->

</template>
