<template name="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <form class="register-form">
         <div class="text-center">
            <h2>We know you are excited, but first, let's get to know each other.</h2>
            <p><a href="#" class="sign-in-link">Sign in</a> or Register for an account</p>
         </div>
         <input type="text" name="registerName" class="form-control" placeholder="Full Name" autocomplete="off">
         <input type="email" name="registerEmail" class="form-control" placeholder="Email" autocomplete="off">
         <input type="password" name="registerPassword" class="form-control" placeholder="Password" autocomplete="off">


         <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-6">
             <input type="submit" value="Register" class="btn btn-default">
           </div>
           <div class="col-md-6 col-sm-6 col-xs-6">
             <input type="#" value="F One-click sign up" class="btn btn-default fb-login">
           </div>
         </div>

         </form>
         </div>
      </div>

  </div>
</template>
