<template name="accountType">
  <div class="container" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="account-type-container">
        <div class="text-center">
          <h3>Let's get started! First, tell us what you're looking for.</h3>
          <li><a href="/tutor-registration-form" class="tutor-link">I'm looking for work as a Tutor</a></li>
          <li><a href="/student-registration-form">I'm looking for a Tutor</a></li>
        </div>
      </div>
    </div>
  </div>
</template>
